[MASTER]
reports=no

[MESSAGES CONTROL]
disable=E1101,C0111,duplicate-code,fixme,locally-disabled,too-few-public-methods,too-many-arguments,too-many-instance-attributes,consider-using-f-string
good-names=PAYLOAD_LEN,i,j

[REPORTS]
output-format=colorized

[FORMAT]
indent-string='    '
max-line-length=150
max-positional-arguments=7

[MAIN]
max-branches=20
max-statements=55
