name: Build and publish tags and releases 
run-name: > 
  Build and publish 
  ${{
    github.event.client_payload.tag != null && format(' tag {0}', github.event.client_payload.tag)
    || github.event.release.tag_name != null && format(' release {0}', github.event.release.tag_name)
  }}
on:
  repository_dispatch:
    types: [ci-workflow-found-tag]
  release:
    types: [published]

jobs:
  build:
    # we run this on tags and releases
    name: Create distribution packages
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v5
      with:
        persist-credentials: false

    - name: Set up Python 
      uses: actions/setup-python@v6
      with:
        python-version: "3.x"
    - name: Install pypa/build
      run: >-
        python3 -m
        pip install
        build
        --user
    - name: Build a binary wheel and a source tarball
      run: python3 -m build
    - name: Store the distribution packages
      uses: actions/upload-artifact@v6
      with:
        name: python-package-distributions
        path: dist/

  publish-to-testpypi:
    # test-publish-tags
    name: Publish to TestPyPI
    if: github.event_name != 'release'
    needs: ["build"]
    runs-on: ubuntu-latest
    environment:
      name: testpypi
      url: https://test.pypi.org/p/pyvlx
    permissions:
      id-token: write

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v4
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish distribution package to TestPyPI
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        repository-url: https://test.pypi.org/legacy/


  publish-to-pypi:
    name: Publish to PyPI
    if: github.event_name == 'release'
    needs: ["build"]
    runs-on: ubuntu-latest
    environment:
      name: release
      url: https://pypi.org/p/pyvlx
    permissions:
      id-token: write

    steps:
    - name: Download all the dists
      uses: actions/download-artifact@v4
      with:
        name: python-package-distributions
        path: dist/
    - name: Publish distribution package to PyPI
      uses: pypa/gh-action-pypi-publish@release/v1

